[<%= @normalized_name %>]
name=<%= @description %>
baseurl=<%= @repo_url %>
repo_gpgcheck=<%= @repo_gpgcheck %>
<% if @priority -%>
    priority=<%= @priority %>
<% end -%>
gpgcheck=0
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-packagecloud
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
